.ReactAudioPlayerDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.TextReadingH1{
    color: #f8b206;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
    margin-bottom: 50px;
}

.ReactAudioPlayer{
    display: flex;
    width: 40%;
    margin: auto;
    margin-bottom: 40px;
}

